* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid black; */
}

body {
  /* background-color:  rgb(250, 249, 245); */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  margin: auto;
  text-align: center;
  padding: 0 1rem;
  padding-bottom: 0;
  width: 90%;
  background-color: white;
  color: rgb(80, 77, 77);
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

h1 {
  font-size: 2rem;
  color: rgb(80, 77, 77);
  padding: 3rem 2rem 0;
  width: 100%;
  text-align: left;
  
}

h2 {
  color: #595959;;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 1rem 2rem 2rem;
  width: 100%;
  text-align: left;
}

#expression,
#number,
#total {
  color: black;
}

#search {
  width: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
}

#search:hover {
  border: 2px solid rgb(208, 201, 201);
}

#legend {
  margin: 1rem 0 0;
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
  font-size: .9rem;
  width: 100%;
}

.legend-span {
  width: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(247, 244, 235);
  font-weight: bold;
  color: #595959;
  border: none;
  outline: none;
  padding: 0;
}

#legend_country, #legend_flag{
  width: 20%;
}

main {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 1px 1rem;
  padding-bottom: 3rem;
}

.country {
  border-radius: 2px;
  height: 6rem;
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(247, 244, 235);
  max-height: fit-content;
  text-align: center;
}

.flag {
  width: 15%;
}

.flag img {
  max-height: 90%;
  width: 90px;
}

@media only screen and (max-width: 540px) {
  header {
    padding: 1rem;
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.1rem;

  }

  main {
    padding: 1rem;
    width: 100%;
  }

  .country {
    height: 80px;
    margin: 5px 0;
  }

  .country-name {
    font-size: 1rem;
  }
}