* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid black; */
}

body {
  background-color:  rgb(250, 248, 248);
}

#wrapper {
  max-width: 1450px;
  background-color:  rgb(250, 248, 248);
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

header {
  margin: auto;
  text-align: center;
  padding-bottom: 0;
  width: 90%;
  background-color:  rgb(250, 248, 248);
  color: rgb(80, 77, 77);
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  
}

#magnify {
  font-size: 1.5rem;
  color: rgb(121, 119, 119);
}

#searc{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 2.2rem 0;
  width: 50%;
}

#search {
  width: 30%;
  line-height: 2rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color:  rgb(250, 248, 248);
  padding-left: .4rem;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(167, 164, 164);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(167, 164, 164);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(167, 164, 164);
}

p {
  color: #6d6d6d;;
  font-weight: normal;
  text-align: right;
  width: 50%;
  font-size: 1.1rem;
}

#expression,
#number,
#total {
  color: rgb(105, 201, 242);
  font-family: 'Roboto Mono', monospace;
}

#container {
  width: 100%;
  border: 1px solid #dedddd;
  border-bottom: 1px solid #dedddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:  white;
}

#legend {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
}

.legend-span {
  width: 15%;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  color: #595959;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0;
  padding-left: 1rem; 
}

.legend-span span {
  font-size: .7rem;
}

#legend_flag {
  padding: 0;
  padding-left: 1.5rem;
}

ion-icon {
  font-size: 1rem;
  color: rgb(105, 201, 242);
  padding-left: .7rem;
}


ion-icon:hover{
 cursor: pointer;
}

main {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 5px 1rem;
  border: 1px solid #dedddd;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.country {
  border-radius: 2px;
  height: 6rem;
  color: #595959;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.child {
  padding-left: 1rem;
  font-size: 16px;
}

.flag {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  padding-left: 1.5rem;
}

.flag img {
  height: 30%;
  width: 30%;
  padding: 0;
  border-radius: 3px;
}

@media only screen and (max-width: 540px) {
  header {
    padding: 1rem;
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.1rem;

  }

  main {
    padding: 1rem;
    width: 100%;
  }

  .country {
    height: 80px;
    margin: 5px 0;
  }

  .country-name {
    font-size: 1rem;
  }
}